<div class="quiz hobby">
  <div class="question1" ng-hide='quiz.firstHobby'>
    <div class="header">
      <div class="col-xs-10 col-md-10">
        <h1 class="animated fadeIn">Which statement fits you best?</h1>
      </div>
    </div>
    <div class="content">
      <div class="col-xs-6 col-md-6 animated bounceIn" ng-repeat="hobby in quiz.firstTwoHobbies" ng-click="quiz.saveFirstHobby(hobby)">
          <p>{{hobby.text}}</p>
      </div>
    </div>
  </div>
  <div class="question2" ng-hide="!quiz.firstHobby || quiz.secondHobby">
    <div class="header">
      <div class="col-xs-10 col-md-10">
        <h1>What about these?</h1>
      </div>
    </div>
    <div class="content">
      <div class="col-xs-6 col-md-6 animated bounceIn" ng-repeat="hobby in quiz.secondTwoHobbies" ng-click="quiz.saveSecondHobby(hobby)">
          <p>{{hobby.text}}</p>
      </div>
    </div>
  </div>
  <div class="question3" ng-show='quiz.secondHobby'>
    <div class="header">
      <div class="col-xs-10 col-md-10">
        <h1>OK, now you have to pick!</h1>
      </div>
    </div>
    <div class="content">
      <div class="col-xs-8 col-md-8 animated bounceIn" ng-repeat="hobby in quiz.savedHobbies" ng-click="quiz.saveFinalHobby(hobby)">
          <p>{{hobby.text}}</p>
      </div>
      <div class="col-xs-10 col-md-10">
        <button ng-show='quiz.chosenHobby' type="button" name="button" class="btn btn-default" ui-sref="showHobby({id: quiz.chosenHobby._id})">See your chosen Hobby </button>
      </div>
    </div>
  </div>
</div>
