<div class="row show">
  <div class="header">
      <h1> Congratulations  Your Hobby is </h1>
  </div>
  <div class="content">
    <div class="col-xs-10 col-md-10">
      <h2>{{hobby.hobby.name}}</h2>
      <p>{{hobby.hobby.description}}</p>
    </div>
  </div>
  <div class="button">
    <div class="col-xs-10 col-md-10">
      <button class ="btn btn-default" type="button" name="button"  ng-click="hobby.saveHobby(hobby.hobby)" ui-sref="eventIndex({id:  hobby.hobby._id})">Save hobby and find your community</button>
    </div>
  </div>
</div>
