@import "_bower";

body{
  background-color : #FBCA30;
  color: white;
  h1{
    font-size: 2.827em;
    font-family: 'Hammersmith One', sans-serif;
  }
  h2{
    font-size: 1.999em;
    font-family: 'Hammersmith One', sans-serif;
  }
  p{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
  }
}
main{
  width: 100vw;
  height: 100vh;

}
.container{
  padding: 0px;
  margin: 0 !important;
}
.row {
    margin-right: 0px;
    width: 100vw;
    height: 100vh;
}



.row.home.ng-scope{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .row.header{
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
    color: darken(#73777A, 10%);
    img{
      margin-top: 10px;
    }
  }
  .row.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 10px;
    p{
      text-align: center;
      padding: 10px;
    }
  }
  .row.button{
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
    .btn.btn-default{
      margin-right: 5px;
      background-color: lighten(#FFA500, 5%);
      border-color: #FFA500;
      color: darken(#ECEDE8, 5%);
    }
  }
}
.quiz.category.ng-scope{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1{
    font-size: 4em;
    color: white;
  }
  .question1{
    .header{
      text-align: center;
    }
    .content{
      margin-top: 20px;
      .col-xs-6.col-md-6{
          width: 190px;
          height: 190px;
          margin: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          background: #FFA500;
          color: #ECEDE8;
          border-radius: 0 10px;
      }
      .col-xs-6.col-md-6:hover{
        cursor:pointer;
        background: #FF4500;
      }
    }
  }
  .question2{
    .header{
      text-align: center;
    }
    .content{
      margin-top: 20px;
      .col-xs-6.col-md-6{
          width: 190px;
          height: 190px;
          margin: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          background-color: #FFA500;
          border-color: darken(#73777A, 10%);
          color: #ECEDE8;
          border-radius: 0 10px;
      }
      .col-xs-6.col-md-6:hover{
        cursor:pointer;
        background: #FF4500;

      }
    }

  }
  .question3{
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
      text-align: center;
    }
    .content{
      margin-top: 20px;
      .col-xs-8.col-md-8{
          width: 190px;
          height: 190px;
          margin: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          background-color: #FFA500;
          border-color: darken(#73777A, 10%);
          color: #ECEDE8;
          border-radius: 0 10px;
      }
      .col-xs-8.col-md-8:hover{
        cursor:pointer;
        background: #FF4500;

      }
    }
  }

}

.quiz.hobby.ng-scope{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1{
    font-size: 4em;
    color: white;
  }
  .question1{
    .header{
      text-align: center;
    }
    .content{
      margin-top: 20px;
      .col-xs-6.col-md-6{
          width: 190px;
          height: 190px;
          margin: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          background-color: #FFA500;
          border-color: darken(#73777A, 10%);
          color: #ECEDE8;
          border-radius: 0 10px;
      }
      .col-xs-6.col-md-6:hover{
        cursor:pointer;
        background: #FF4500;

      }
    }
  }
  .question2{
    .header{
      text-align: center;
    }
    .content{
      margin-top: 20px;
      .col-xs-6.col-md-6{
          width: 190px;
          height: 190px;
          margin: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          background-color: #FFA500;
          border-color: darken(#73777A, 10%);
          color: #ECEDE8;
          border-radius: 0 10px;
      }
      .col-xs-6.col-md-6:hover{
        cursor:pointer;
        background: #FF4500;

      }
    }

  }
  .question3{
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
      text-align: center;
    }
    .content{
      margin-top: 20px;
      .col-xs-8.col-md-8{
          width: 190px;
          height: 190px;
          margin: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          background-color: #FFA500;
          border-color: darken(#73777A, 10%);
          color: #ECEDE8;
          border-radius: 0 10px;
      }
      .col-xs-8.col-md-8:hover{
        cursor:pointer;
        background: #FF4500;

      }
    }
  }

}

.row.show{
  display: flex;
  align-items: center;
  text-align: center;
  .header{
    font-size: 2em;
    color: white;
  }
  .content{

  }
  .button{

  }
}

img{
  width: 100px;
  height: 100px;
}

.btn-default {
  border: 0;
  border-radius: 0 10px;
  color: #FFA500;

  &:hover{
    background: #FF4500;
    color: white;
  }
}

a {
  background: white;
  color: #FBCA30;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 0 10px;
}

a:hover, a:focus {
  background: #FF4500;
  color: white;
  text-decoration: none;
}

.events img {
  border-radius: 100%;
  margin: 10px;
}
