@import "_bower";

body{
  background-color : #B5C9D4;
}
main{
  width: 100vw;
  height: 100vh;
}

.row.quiz.question{
  .col-xs-6.col-md-3{
    border: 2px solid black;
    width: 115px;
    height: 100px;
    text-align: center;
  }
}

.row.quiz.header{
  text-align: center;
}

.container.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .row.home.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

img{
  width: 100px;
  height: 100px;
}
