<div class="row quiz header one">
  <div class="col-xs-10 col-md-10">
    <h1>Category First Question</h1>
  </div>
</div>
<div class="row quiz question one">
  <div class="col-xs-6 col-md-3" ng-repeat=" category in quiz.firstFiveCategories" ng-click="quiz.saveCategory(category)">
      <p>{{category.categoryAnswer.round1}}</p>
  </div>
  <div class="col-xs-10 col-md-10">
    <button type="button" name="button" class="btn btn-default" ui-sref="categorySecondQuestion">Next question</button>
  </div>
</div>
