@import "_bower";

html, body{
  background-color : #FBCA30;
  color: white;
  overflow: hidden;
  h1{
    font-size: 2.827em;
    font-family: 'Hammersmith One', sans-serif;
  }
  h2{
    font-size: 1.999em;
    font-family: 'Hammersmith One', sans-serif;
  }
  p{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
  }
}

.navbar.navbar-default{
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
  .navbar-brand{
    background-color: transparent;
    color: #ab8d2e;
  }
  .navbar-nav > li > a:hover{
     color: #FF4500;
     background-color: transparent;
 }
}



main{
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
}
.container{
  margin: 0 !important;
}
.row {
    margin-right: 0px;
    width: 100vw;
}

.row.form{
  display: flex;
  justify-content: center;
  h1{
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .form-group {
    margin-top: 50px;
  }
  .btn.btn-default{
    margin-top: 10px;
  }
}


#image{
  background-image: url('/images/skydiving.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.row.home.ng-scope{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .jumbotron{
    text-shadow: -1px 1px 1px rgb(50, 60, 66);
    background-color: rgba(251, 202, 48, 0.28);
  }
  .row.header{
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
    img{
      margin-top: 10px;
    }
  }
  .row.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 10px;
    p{
      text-align: center;
      padding: 10px;
    }
  }
  .quiz{
    margin-top: 20px;
  }
  .row.button{
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
    .btn.btn-default{
      margin-right: 5px;
      background-color: lighten(#FFA500, 5%);
      border-color: #FFA500;
      color: darken(#ECEDE8, 5%);
    }
  }
}
.quiz.ng-scope{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1{
    font-size: 4em;
    color: white;
  }
  .question.col-md-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .question{
    .header{
      text-align: center;
    }
    .content{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      .col-xs-10.col-md-2{
          height: 190px;
          margin: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          background: #FFA500;
          color: #ECEDE8;
          border-radius: 0 10px;
      }
      .col-xs-2.col-md-2:hover{
        cursor:pointer;
        background: #FF4500;
      }
    }
  }

}

.row.show{
  display: flex;
  align-items: center;
  text-align: center;
  .header{
    font-size: 2em;
    color: white;
  }
  .content{

  }
  .button{

  }
}

img{
  width: 100px;
  height: 100px;
}

.btn-default {
  border: 0;
  border-radius: 0 10px;
  color: #FFA500;

  &:hover{
    background: #FF4500;
    color: white;
  }
}

a {
  background: white;
  color: #FBCA30;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 0 10px;
}

a:hover, a:focus {
  background: #FF4500;
  color: white;
  text-decoration: none;
}

.events img {
  border-radius: 100%;
  margin: 10px;
}

  @media(min-width:768px){
    .container {
      width: 100vw;
    }
    .row.form {

    }
  }
